USE [master]
GO
/****** Object:  Database [QLDSV_TC]    Script Date: 6/9/2022 12:51:39 AM ******/
CREATE DATABASE [QLDSV_TC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDSV_TC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLDSV_TC.mdf' , SIZE = 30720KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDSV_TC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLDSV_TC_log.ldf' , SIZE = 35712KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDSV_TC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDSV_TC]
GO
/****** Object:  User [GV01]    Script Date: 6/9/2022 12:51:39 AM ******/
CREATE USER [GV01] FOR LOGIN [pkt1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [SV]    Script Date: 6/9/2022 12:51:39 AM ******/
CREATE ROLE [SV]
GO
/****** Object:  DatabaseRole [PKT]    Script Date: 6/9/2022 12:51:39 AM ******/
CREATE ROLE [PKT]
GO
/****** Object:  DatabaseRole [PGV]    Script Date: 6/9/2022 12:51:39 AM ******/
CREATE ROLE [PGV]
GO
/****** Object:  DatabaseRole [KHOA]    Script Date: 6/9/2022 12:51:39 AM ******/
CREATE ROLE [KHOA]
GO
ALTER ROLE [PKT] ADD MEMBER [GV01]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [GV01]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [GV01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [GV01]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [GV01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SV]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SV]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [PKT]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [PKT]
GO
ALTER ROLE [db_datareader] ADD MEMBER [PKT]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [PKT]
GO
ALTER ROLE [db_owner] ADD MEMBER [PGV]
GO
ALTER ROLE [db_owner] ADD MEMBER [KHOA]
GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL CONSTRAINT [DF_CT_DONGHOCPHI_NGAYDONG]  DEFAULT (getdate()),
	[SOTIENDONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_02477AEAC5FA453D97D62F8CB91205A5]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL,
	[HUYDANGKY] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_21A5BA1CC1404F279879D64D7106E5FC]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[HOCVI] [nvarchar](20) NULL,
	[HOCHAM] [nvarchar](20) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_45E23513BA41497E8E8E471CAD96882B]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)),
	[HOCPHI] [int] NOT NULL CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_5EBBC2F746C44F53B914D68015EDCFBA]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_77FEEBE8B1344F20AC52E84C6E6038C5]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [nchar](9) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_873A702AB89742BEBB8B7307AD946A0D]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[SOSVTOITHIEU] [int] NOT NULL,
	[HUYLOP] [bit] NOT NULL CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ('false'),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_CA9E649E44EE4B1C8CA85982DF0A7EF3]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NOT NULL,
	[SOTIET_TH] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_77D625A3AFF94A7B902C64B42637EEE0]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL CONSTRAINT [DF_SINHVIEN_PHAI]  DEFAULT ('false'),
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL CONSTRAINT [DF_SINHVIEN_DANGHIHOC]  DEFAULT ('false'),
	[PASSWORD] [nvarchar](40) NULL CONSTRAINT [DF_SINHVIEN_PASSWORD]  DEFAULT (''),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_33833E91DF66423086DB4ADEE600F9C7]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[Get_Subcribes]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Get_Subcribes]
AS
SELECT  PUBS.description AS TENCN, SUBS.subscriber_server AS TENSERVER
FROM    dbo.sysmergepublications AS PUBS INNER JOIN
           dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server

GO
/****** Object:  View [dbo].[V_LayDSKHOA]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LayDSKHOA]
AS
	SELECT  PUBS.description AS TENCN, SUBS.subscriber_server AS TENSERVER
			FROM    dbo.sysmergepublications AS PUBS INNER JOIN
           dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server AND PUBS.description <> 'PKT'
GO
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'N15DCCN002', N'2020-2021', 1, CAST(N'2020-11-10' AS Date), 3000000, N'b28ce9ff-9bda-ec11-97d1-b6b5b678fa2b')
GO
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'N15DCCN002', N'2020-2021', 2, CAST(N'2020-12-03' AS Date), 4000000, N'b38ce9ff-9bda-ec11-97d1-b6b5b678fa2b')
GO
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'N15DCCN002', N'2020-2021', 2, CAST(N'2022-05-23' AS Date), 4000000, N'db222c69-b8da-ec11-97d1-b6b5b678fa2b')
GO
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [rowguid]) VALUES (1, N'N15DCCN001', 3, 5, 7, 0, N'8f0d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [rowguid]) VALUES (1, N'N15DCCN002', 0, 0, 0, 0, N'900d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [rowguid]) VALUES (1, N'N15DCCN003', 5, 6, 7, 0, N'910d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [rowguid]) VALUES (N'GV01      ', N'CNTT      ', N'Lưu Nguyễn Kỳ', N'Thư', N'Thạc sĩ', N'', N'Phần mềm', N'6d0d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [rowguid]) VALUES (N'GV02      ', N'CNTT      ', N'Lê Thành', N'Trì', N'Thạc sĩ', N'', N'Mạng máy tính', N'6e0d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [rowguid]) VALUES (N'GV03      ', N'CNTT      ', N'Huỳnh Trung', N'Trụ', N'Thạc sĩ', N'', N'Web, Phần mềm', N'6f0d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N15DCCN001', N'2019-2020', 1, 10000000, N'f01da683-ccda-ec11-97d1-b6b5b678fa2b')
GO
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N15DCCN002', N'2020-2021', 1, 8500000, N'f431c727-9bda-ec11-97d1-b6b5b678fa2b')
GO
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N15DCCN002', N'2020-2021', 2, 9000000, N'f531c727-9bda-ec11-97d1-b6b5b678fa2b')
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [rowguid]) VALUES (N'CNTT      ', N'Công nghệ thông tin', N'640d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [rowguid]) VALUES (N'VT        ', N'Viễn Thông', N'650d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA], [rowguid]) VALUES (N'D15CQCP01 ', N'Công nghệ phần mềm 2015', N'2015-2019', N'CNTT      ', N'730d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA], [rowguid]) VALUES (N'D15CQIS01 ', N'Hệ thống thông tin 2015', N'2015-2019', N'CNTT      ', N'740d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA], [rowguid]) VALUES (N'D15CQMT01 ', N'Mạng máy tính 2015', N'2015-2019', N'CNTT      ', N'750d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
SET IDENTITY_INSERT [dbo].[LOPTINCHI] ON 

GO
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP], [rowguid]) VALUES (1, N'2021-2022', 1, N'CTDL      ', 1, N'GV01      ', N'CNTT      ', 10, 0, N'880d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP], [rowguid]) VALUES (2, N'2021-2022', 1, N'CTDL      ', 2, N'GV01      ', N'CNTT      ', 10, 0, N'890d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP], [rowguid]) VALUES (3, N'2021-2022', 1, N'XLA       ', 1, N'GV03      ', N'CNTT      ', 10, 0, N'8b0d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
SET IDENTITY_INSERT [dbo].[LOPTINCHI] OFF
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH], [rowguid]) VALUES (N'AV        ', N'Anh văn', 45, 0, N'660d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH], [rowguid]) VALUES (N'CTDL      ', N'Cấu trúc dữ liệu & Giải thuật', 40, 5, N'670d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH], [rowguid]) VALUES (N'HDH       ', N'Hệ điều hành', 45, 0, N'680d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD], [rowguid]) VALUES (N'N15DCCN001', N'Võ Văn', N'Đức', 0, N'Quận 9', CAST(N'1997-02-08' AS Date), N'D15CQCP01 ', 0, N'', N'7b0d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD], [rowguid]) VALUES (N'N15DCCN002', N'Lê Hữu', N'Tài', 0, N'Thủ Đức', CAST(N'1997-03-07' AS Date), N'D15CQCP01 ', 0, N'', N'7c0d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD], [rowguid]) VALUES (N'N15DCCN003', N'Hoàng Thanh', N'Bùi', 0, N'Quận 9', CAST(N'1997-08-07' AS Date), N'D15CQCP01 ', 0, N'', N'7d0d8012-5cd7-ec11-97d0-b6b5b678fa2b')
GO
/****** Object:  Index [MSmerge_index_245575913]    Script Date: 6/9/2022 12:51:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_245575913] ON [dbo].[CT_DONGHOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_DANGKY]    Script Date: 6/9/2022 12:51:40 AM ******/
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [UK_DANGKY] UNIQUE NONCLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_277576027]    Script Date: 6/9/2022 12:51:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_277576027] ON [dbo].[DANGKY]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_309576141]    Script Date: 6/9/2022 12:51:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_309576141] ON [dbo].[GIANGVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_341576255]    Script Date: 6/9/2022 12:51:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_341576255] ON [dbo].[HOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_373576369]    Script Date: 6/9/2022 12:51:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_373576369] ON [dbo].[KHOA]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_405576483]    Script Date: 6/9/2022 12:51:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_405576483] ON [dbo].[LOP]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_LOPTINCHI]    Script Date: 6/9/2022 12:51:40 AM ******/
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [UK_LOPTINCHI] UNIQUE NONCLUSTERED 
(
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_437576597]    Script Date: 6/9/2022 12:51:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_437576597] ON [dbo].[LOPTINCHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_485576768]    Script Date: 6/9/2022 12:51:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_485576768] ON [dbo].[MONHOC]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MALOP]    Script Date: 6/9/2022 12:51:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_MALOP] ON [dbo].[SINHVIEN]
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_517576882]    Script Date: 6/9/2022 12:51:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_517576882] ON [dbo].[SINHVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_CTLTC_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_CTLTC_SINHVIEN]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENDONG] CHECK  (([SOTIENDONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [CK_SOTIENDONG]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DIEM_CC] CHECK  (([DIEM_CC]>=(0) AND [DIEM_CC]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DIEM_CC]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DIEM_CK] CHECK  (([DIEM_CK]>=(0) AND [DIEM_CK]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DIEM_CK]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DIEM_GK] CHECK  (([DIEM_GK]>=(0) AND [DIEM_GK]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DIEM_GK]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHI] CHECK  (([HOCPHI]>(0)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCPHI]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_LOPTINCHI_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_LOPTINCHI_HOCKY]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_NHOM] CHECK  (([NHOM]>=(1)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_NHOM]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_SOSVTOITHIEU] CHECK  (([SOSVTOITHIEU]>(0)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_SOSVTOITHIEU]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_EB510FEC_FFE5_43DA_9684_740261757E15] CHECK NOT FOR REPLICATION (([MALTC]>(8) AND [MALTC]<=(1008) OR [MALTC]>(1008) AND [MALTC]<=(2008)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [repl_identity_range_EB510FEC_FFE5_43DA_9684_740261757E15]
GO
/****** Object:  StoredProcedure [dbo].[CHECK_TONTAI_SVROLE]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[CHECK_TONTAI_SVROLE] @LOGIN NVARCHAR(50)
 AS
DECLARE @PID INT SELECT @PID = principal_id FROM SYS.server_principals WHERE name = @LOGIN-- lay user dua tren login trong bang sysusers
 IF EXISTS ( SELECT SERVERROLE= name
 FROM sys.server_principals
 WHERE principal_id = (SELECT role_principal_id FROM sys.server_role_members WHERE member_principal_id = @PID)) 
	RETURN 1
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[GetAllHocKy]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetAllHocKy] @NIENKHOA NCHAR(9)  
AS
SELECT DISTINCT HOCKY FROM LOPTINCHI WHERE NIENKHOA= @NIENKHOA
GO
/****** Object:  StoredProcedure [dbo].[getAllLopByRole]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getAllLopByRole] @type INT
AS
BEGIN
	IF @type=0
		BEGIN
			SELECT MALOP,TENLOP FROM LINK0.QLDSV_TC.DBO.LOP
		END
	ELSE
		BEGIN
			SELECT MALOP,TENLOP FROM LOP
		END
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllNhom]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetAllNhom] @NIENKHOA NCHAR(9), @HOCKI INT
AS
SELECT DISTINCT NHOM FROM LOPTINCHI where  NIENKHOA = @NIENKHOA  AND HOCKY = @HOCKI 
GO
/****** Object:  StoredProcedure [dbo].[GetAllNienKhoa]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetAllNienKhoa]
AS 
SELECT DISTINCT NIENKHOA FROM LOPTINCHI
GO
/****** Object:  StoredProcedure [dbo].[SP_BDMH]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BDMH] @NienKhoa varchar(9), @HocKy int, @Nhom int,@MonHoc nvarchar(50)
as
declare @LOPTINCHI int
select @LOPTINCHI= MALTC from LOPTINCHI,MONHOC
where LOPTINCHI.NIENKHOA = @NienKhoa AND LOPTINCHI.HOCKY = @HocKy AND LOPTINCHI.NHOM = @Nhom
AND MONHOC.TENMH = @MonHoc AND LOPTINCHI.MAMH = MONHOC.MAMH
select MALC=@LOPTINCHI,SINHVIEN.MASV,HOTEN=HO+' '+TEN,DIEM_CC,DIEM_GK,DIEM_CK,DIEM_TK= DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6 from DANGKY,SINHVIEN
where  DANGKY.MASV = SINHVIEN.MASV AND DANGKY.MALTC = @LOPTINCHI AND HUYDANGKY = 0
order by TEN,HO

GO
/****** Object:  StoredProcedure [dbo].[SP_BDMH_Report]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BDMH_Report] @NienKhoa varchar(9), @HocKy int, @Nhom int,@MonHoc nvarchar(50)
as
declare @LOPTINCHI int
select @LOPTINCHI= MALTC from LOPTINCHI,MONHOC
where LOPTINCHI.NIENKHOA = @NienKhoa AND LOPTINCHI.HOCKY = @HocKy AND LOPTINCHI.NHOM = @Nhom
AND MONHOC.TENMH = @MonHoc AND LOPTINCHI.MAMH = MONHOC.MAMH
select SINHVIEN.MASV,HO,TEN,DIEM_CC,DIEM_GK,DIEM_CK,DIEM_TK= DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6 from DANGKY,SINHVIEN
where  DANGKY.MASV = SINHVIEN.MASV AND DANGKY.MALTC = @LOPTINCHI AND HUYDANGKY = 0
order by TEN,HO
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_TONTAI_SERVERROLE]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_TONTAI_SERVERROLE] @LOGIN NVARCHAR(50)
AS
IF EXISTS (SELECT NAME FROM sys.server_principals -- login and server role 
		WHERE name = @LOGIN)
		RETURN 1;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_TONTAI_SVROLE]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[SP_CHECK_TONTAI_SVROLE] @LOGIN NVARCHAR(50)
 AS
DECLARE @PID INT SELECT @PID = principal_id FROM SYS.server_principals WHERE name = @LOGIN-- lay user dua tren login trong bang sysusers
 IF EXISTS ( SELECT SERVERROLE= name
 FROM sys.server_principals
 WHERE principal_id = (SELECT role_principal_id FROM sys.server_role_members WHERE member_principal_id = @PID)) 
	RETURN 1
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_TONTAIDBROLE]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_TONTAIDBROLE] @LOGIN NVARCHAR(50)
AS
IF EXISTS ( SELECT NAME FROM SYS.sysusers WHERE name = @LOGIN)
	RETURN 1
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKID]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKID] @Code NVARCHAR(15), @Type NVARCHAR(15)
AS
BEGIN
	-- LOP
	IF(@Type = 'MALOP')
	BEGIN
		
		IF EXISTS(SELECT * FROM dbo.LOP WHERE dbo.LOP.MALOP = @Code)
			RETURN 1; -- Mã tồn tại ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV_TC.dbo.LOP AS LOP WHERE LOP.MALOP = @Code)
			RETURN 2;	--Mã NV tồn tại ở phân mãnh  khác
	END

	--MON Hoc
	IF(@Type = 'MAMONHOC')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.MONHOC WHERE MAMH = @Code)
		RETURN 1;
	END
	
	IF(@Type = 'MASV')
	BEGIN
		
		IF EXISTS(SELECT * FROM dbo.SINHVIEN WHERE dbo.SINHVIEN.MASV = @Code)
			RETURN 1; -- Mã tồn tại ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV_TC.dbo.SINHVIEN AS SV WHERE SV.MASV = @Code)
			RETURN 2;	--Mã NV tồn tại ở phân mãnh  khác
	END

	RETURN 0	--Không bị trùng được thêm
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKLTC]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKLTC] @Nienkhoa NVARCHAR(15), @Hocki INT, @Nhom INT, @MAMH NVARCHAR(15)
AS
BEGIN
	IF EXISTS(SELECT * FROM dbo.LOPTINCHI WHERE NIENKHOA = @Nienkhoa AND MAMH = @MAMH AND NHOM = @Nhom AND HOCKY = @Hocki)
		RETURN 1; -- Mã tồn tại ở phân mãnh hiện tại
			
	ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV_TC.dbo.LOPTINCHI WHERE NIENKHOA = @Nienkhoa AND MAMH = @MAMH AND NHOM = @Nhom AND HOCKY = @Hocki)
		RETURN 2; -- mã tồn tại ở phân mảnh khác
	RETURN 0	--Không bị trùng được thêm
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKNAME]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKNAME] @Name NVARCHAR(50), @Type NVARCHAR(15)
AS
BEGIN
	--Kiểm tra Table lop của server hiện tại
	IF(@Type = 'TENLOP')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.LOP WHERE dbo.LOP.TENLOP = @Name)
			RETURN 1; -- @name bị trùng  ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV_TC.dbo.LOP AS LOP WHERE LOP.TENLOP = @Name)
			RETURN 2;	--@name bị trùng ở phân mãnh  khác
	END

	IF(@Type = 'TENMONHOC')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.MONHOC WHERE TENMH = @Name)
		RETURN 1;
	END
	
	RETURN 0	--Không bị trùng ,được thêm
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKROLE]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKROLE] @tennhom NVARCHAR(50) 
AS

 if exists (select * from sys.database_principals where name = @teNnhom and type_desc = 'DATABASE_ROLE')
	return 1;
return 0 
GO
/****** Object:  StoredProcedure [dbo].[SP_DOIMATKHAU]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DOIMATKHAU] @OLDPASSWORD NVARCHAR(50), @NEWPASSWORD NVARCHAR(50), @LOGINNAME NVARCHAR(50)
AS
DECLARE @RET INT
EXEC @RET= sp_password @OLDPASSWORD, @NEWPASSWORD, @LOGINNAME
	IF (@RET =1) 
		RETURN 1 -- tạo tài khoản không thành công
	RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_FULLMARK]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FULLMARK] @MSSV varchar(10) , @Type int
--0:PGV
--1:Khoa (Chỉ thực hiện trên đúng 1 sv hiện tại)
as
IF (@Type = 0)
BEGIN
	IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV=@MSSV)  
				BEGIN
                    with GETDIEMMON (MAMH,DIEMTK) as
					(select LOPTINCHI.MAMH,DIEMTK= DIEM_CC * 0.1 + DIEM_GK * 0.3 + DIEM_CK * 0.6 
					from DANGKY,LOPTINCHI 
					where DANGKY.MASV = @MSSV AND DANGKY.MALTC = LOPTINCHI.MALTC AND HUYDANGKY=0)
					select TENMH,DIEMTK= MAX(DIEMTK) 
					from MONHOC,GETDIEMMON
					where GETDIEMMON.MAMH = MONHOC.MAMH
					group by TENMH
                END
	ELSE IF  EXISTS (SELECT 1 FROM LINK0.QLDSV_TC.dbo.SINHVIEN WHERE MASV=@MSSV) 
				BEGIN
                    with GETDIEMMON (MAMH,DIEMTK) as
					(select LOPTINCHI.MAMH,DIEMTK= DIEM_CC * 0.1 + DIEM_GK * 0.3 + DIEM_CK * 0.6 
					from DANGKY,LOPTINCHI 
					where DANGKY.MASV = @MSSV AND DANGKY.MALTC = LOPTINCHI.MALTC AND HUYDANGKY=0)
					select TENMH,DIEMTK= MAX(DIEMTK) 
					from MONHOC,GETDIEMMON
					where GETDIEMMON.MAMH = MONHOC.MAMH
					group by TENMH
                END
ELSE
	RAISERROR(N'SINH VIÊN NÀY KHÔNG TỒN TẠI',16,1)
END
ELSE
BEGIN
	IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV=@MSSV)  
				BEGIN
                    with GETDIEMMON (MAMH,DIEMTK) as
					(select LOPTINCHI.MAMH,DIEMTK= DIEM_CC * 0.1 + DIEM_GK * 0.3 + DIEM_CK * 0.6 
					from DANGKY,LOPTINCHI 
					where DANGKY.MASV = @MSSV AND DANGKY.MALTC = LOPTINCHI.MALTC AND HUYDANGKY=0)
					select TENMH,DIEMTK= MAX(DIEMTK) 
					from MONHOC,GETDIEMMON
					where GETDIEMMON.MAMH = MONHOC.MAMH
					group by TENMH
                END
	ELSE
		RAISERROR(N'SINH VIÊN NÀY KHÔNG TỒN TẠI',16,1)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_FULLMARK_BYCLASS_V2]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FULLMARK_BYCLASS_V2] @MALOP varchar(10)
as
declare @columns NVARCHAR(MAX)
SET FMTONLY OFF
select INFO = SINHVIEN.MASV + '-' + HO + ' ' +TEN,TENMH,DIEM INTO #GetAllMark
from SINHVIEN left join 
(select MASV,A.TENMH,DIEM=COALESCE(DIEM_CC*0.1+DIEM_GK*0.3+DIEM_CK*0.6,0) 
from DANGKY, (select MALTC,TENMH from LOPTINCHI,MONHOC where LOPTINCHI.MAMH = MONHOC.MAMH) as A
where DANGKY.MALTC = A.MALTC) as B 
on SINHVIEN.MASV = B.MASV
where MALOP =  @MALOP  AND DANGHIHOC = 0
Select TOP(1) @columns = TENMH FROM #GetAllMark where TENMH IS NOT NULL
Select INFO,TENMH=COALESCE(TENMH,@columns),DIEM from #GetAllMark
SET FMTONLY ON

GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DBROLE]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_DBROLE]
AS
SELECT NAME FROM SYS.sysusers WHERE issqlrole = 1
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DSDBROLE]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_DSDBROLE]
AS
SELECT NAME FROM SYS.sysusers WHERE issqlrole = 1 and name <> 'public'

GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DSSERVERROLE]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_GET_DSSERVERROLE]
AS
SELECT NAME FROM sys.server_principals -- login and server role 
WHERE type_desc = 'SERVER_ROLE'  and name <> 'public'
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SERVER_ROLE]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_SERVER_ROLE] @LOGIN NVARCHAR(50)
AS
DECLARE @PID INT
 SELECT @PID = principal_id FROM SYS.server_principals WHERE name = @LOGIN-- lay user dua tren login trong bang sysusers
 SELECT SERVERROLE= name
 FROM sys.server_principals
 WHERE principal_id = (SELECT role_principal_id FROM sys.server_role_members WHERE member_principal_id = @PID) 
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SERVERROLE]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_GET_SERVERROLE]
AS
SELECT * FROM sys.server_principals -- login and server role 
WHERE type_desc = 'SERVER_ROLE'
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCTHP_SV]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetCTHP_SV] @MASV VARCHAR(10), @NIENKHOA NCHAR(9), @HOCKY INT
AS
SELECT NGAYDONG, SOTIENDONG 
FROM dbo.CT_DONGHOCPHI 
WHERE NIENKHOA = @NIENKHOA AND HOCKY = @HOCKY AND MASV = @MASV
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDSHP_SV]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetDSHP_SV] @MASV VARCHAR(10)
AS
SELECT HOCPHI.NIENKHOA, HOCPHI.HOCKY, HOCPHI, TONGSOTIENDADONG= ISNULL(SUM(SOTIENDONG),0) , SOTIENCANDONG= HOCPHI-ISNULL(SUM(SOTIENDONG),0)
FROM (SELECT MASV, NIENKHOA, HOCKY, HOCPHI FROM HOCPHI WHERE MASV = @MASV) AS HOCPHI left join CT_DONGHOCPHI   AS CT -- Lay ca nhung ki sinh vien chua dong hoc phi, lay tong so tien da dong
ON HOCPHI.MASV = CT.MASV AND HOCPHI.NIENKHOA = CT.NIENKHOA AND HOCPHI.HOCKY = CT.HOCKY
GROUP BY HOCPHI.NIENKHOA, HOCPHI.HOCKY, HOCPHI
GO
/****** Object:  StoredProcedure [dbo].[SP_GETDSROLE_CAPQUYEN]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETDSROLE_CAPQUYEN]
AS
select name from sys.sysusers where issqlrole = 1 and name not in ('db_owner
db_accessadmin','db_securityadmin', 'db_ddladmin', 'db_backupoperator', 'db_datareader', 'db_datawriter',
'db_denydatareader', 'db_denydatawriter', 'db_owner',
'db_accessadmin', 'public')
GO
/****** Object:  StoredProcedure [dbo].[SP_GETDSROLETRUROLEDUOCCHON]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETDSROLETRUROLEDUOCCHON] @ROLE NVARCHAR(50)
AS
select name from sys.sysusers where issqlrole = 1 and name <> @ROLE and name <> 'public'
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInfoSV_HP]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetInfoSV_HP] @MASV VARCHAR(10)
AS 
SELECT HOTEN=HO + ' '+ TEN, MALOP 
FROM dbo.SINHVIEN 
WHERE MASV = @MASV
GO
/****** Object:  StoredProcedure [dbo].[SP_getInfoSVDKI]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_getInfoSVDKI]
@masv NCHAR(10)
AS
BEGIN
	SELECT MASV,HO,TEN,MALOP FROM dbo.SINHVIEN WHERE MASV = @masv
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InDanhSachDongHP]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InDanhSachDongHP] @MALOP varchar(10), @NienKhoa varchar(9), @HocKy int
as
with GETSVDONGTIEN(MASV,HOCPHI,SOTIENDONG)
as
(select HOCPHI.MASV,HOCPHI,SOTIENDADONG = SUM(SOTIENDONG) 
from HOCPHI left join CT_DONGHOCPHI
on HOCPHI.MASV = CT_DONGHOCPHI.MASV AND CT_DONGHOCPHI.HOCKY = HOCPHI.HOCKY AND CT_DONGHOCPHI.NIENKHOA = HOCPHI.NIENKHOA
where HOCPHI.NIENKHOA = @NienKhoa AND HOCPHI.HOCKY = @HocKy
group by HOCPHI.MASV,HOCPHI)
select HOTEN=SINHVIEN.HO + ' '+ SINHVIEN.TEN,HOCPHI,SOTIENDONG= COALESCE(SOTIENDONG,0)  
from SINHVIEN,GETSVDONGTIEN
where SINHVIEN.MASV = GETSVDONGTIEN.MASV
AND SINHVIEN.MALOP = @MALOP

GO
/****** Object:  StoredProcedure [dbo].[SP_InDanhSachLopTinChi]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InDanhSachLopTinChi] @NienKhoa varchar(9), @HocKy int
AS
with SOSVDK (MALTC,MAMH,MAGV,NHOM,SOSVTOITHIEU,AMOUNT) as
(select LOPTINCHI.MALTC,MAMH,MAGV,NHOM,SOSVTOITHIEU,
(select count(DANGKY.MALTC) from DANGKY where DANGKY.MALTC=LOPTINCHI.MALTC and HUYDANGKY=0) from LOPTINCHI 
where HUYLOP=0 AND LOPTINCHI.NIENKHOA = @NienKhoa AND LOPTINCHI.HOCKY = @HocKy 
group by LOPTINCHI.MALTC,MAMH,MAGV,NHOM,SOSVTOITHIEU)
select A.MALTC,TENMH,NHOM,HOTEN,SOSVTOITHIEU,AMOUNT
from (select MALTC,TENMH from SOSVDK,MONHOC where SOSVDK.MAMH = MONHOC.MAMH) as A,
(select MALTC,NHOM,HOTEN=HO+' '+TEN,SOSVDK.SOSVTOITHIEU,AMOUNT from SOSVDK,GIANGVIEN where SOSVDK.MAGV=GIANGVIEN.MAGV) as B
where A.MALTC=B.MALTC
GO
/****** Object:  StoredProcedure [dbo].[SP_InDanhSachLopTinChi_Report]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InDanhSachLopTinChi_Report] @NienKhoa VARCHAR(9), @HocKy INT
AS
SELECT LOPTINCHI.MALTC, MAMH, MAGV, NHOM, SOSVTOITHIEU, AMOUNT = count(DANGKY.MALTC) into  #SOSVDK 
	FROM (SELECT MALTC, MAMH, MAGV, NHOM, SOSVTOITHIEU FROM LOPTINCHI WHERE  NIENKHOA = @NienKhoa AND HOCKY = @HocKy AND HUYLOP = 0) AS LOPTINCHI 
	LEFT JOIN DANGKY ON DANGKY.MALTC = LOPTINCHI.MALTC   -- lay ca lop chua co sv dang ki
	GROUP BY LOPTINCHI.MALTC,MAMH,MAGV,NHOM, SOSVTOITHIEU -- phai co ssvtt
SELECT TENMH = (SELECT TENMH FROM MONHOC WHERE SOSVDK.MAMH = MONHOC.MAMH),
	 NHOM, HOTEN = (SELECT HOTEN=HO+' '+TEN FROM GIANGVIEN WHERE SOSVDK.MAGV=GIANGVIEN.MAGV), SOSVTOITHIEU, AMOUNT
FROM #SOSVDK AS SOSVDK
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_GV_Tu_Login]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_GV_Tu_Login] @TENLOGIN NVARCHAR(100)
 AS
 DECLARE @UID INT
 DECLARE @MAGV NVARCHAR(100)
 SELECT @UID = uid, @MAGV = name FROM SYS.sysusers
	WHERE sid = SUSER_SID(@TENLOGIN)
 SELECT MAGV = @MAGV,
		TENNHOM= name
		FROM SYS.sysusers
		WHERE uid = (SELECT groupuid FROM SYS.sysmembers WHERE memberuid = @UID)
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_GV_Tu_Login2]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_GV_Tu_Login2] @TENLOGIN NVARCHAR(100)
 AS
 DECLARE @UID INT
 DECLARE @MAGV NVARCHAR(100)
 SELECT @UID = uid, @MAGV = name FROM SYS.sysusers WHERE sid = SUSER_SID(@TENLOGIN)  SELECT MAGV = @MAGV, HOTEN = (SELECT HO+ ' '+TEN FROM dbo.GIANGVIEN WHERE MAGV=@MAGV), TENNHOM= name
 FROM SYS.sysusers
 WHERE uid = (SELECT groupuid FROM SYS.sysmembers WHERE memberuid = @UID)
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_GV_Tu_Login3]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_GV_Tu_Login3] @TENLOGIN NVARCHAR(100)
 AS
 DECLARE @UID INT
 DECLARE @MAGV NVARCHAR(100)
 SELECT @UID = uid, @MAGV = name FROM SYS.sysusers WHERE sid = SUSER_SID(@TENLOGIN)  SELECT MAGV = @MAGV, HOTEN = (SELECT HO+ ' '+TEN FROM dbo.GIANGVIEN WHERE MAGV=@MAGV), TENNHOM= name
 FROM SYS.sysusers
 WHERE uid = (SELECT groupuid FROM SYS.sysmembers WHERE memberuid = @UID)
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_GV_Tu_Login4]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_GV_Tu_Login4] @TENLOGIN NVARCHAR(100)
 AS
 DECLARE @UID INT
 DECLARE @MAGV NVARCHAR(100)
 SELECT @UID = uid, @MAGV = name FROM SYS.sysusers WHERE sid = SUSER_SID(@TENLOGIN)  SELECT MAGV = @MAGV, HOTEN = (SELECT HO+ ' '+TEN FROM dbo.GIANGVIEN WHERE MAGV=@MAGV), TENNHOM= name
 FROM SYS.sysusers
 WHERE uid = (SELECT groupuid FROM SYS.sysmembers WHERE memberuid = @UID)
GO
/****** Object:  StoredProcedure [dbo].[SP_LayDSGV]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LayDSGV] 
AS
BEGIN
	SELECT MAGV,HOTEN = HO+' '+TEN FROM dbo.GIANGVIEN 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinSV_DangNhap]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayThongTinSV_DangNhap]
@masv NCHAR(10),@password NVARCHAR(40)
AS
BEGIN
	SELECT MASV,HOTEN = HO+' '+TEN FROM dbo.SINHVIEN WHERE MASV = @masv AND PASSWORD = @password
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_SVHUYDANGKY]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_LIST_SVHUYDANGKY] @MASSV varchar(20)
as
with GETLIST_HUYDANGKY(MALTC,NIENKHOA,HOCKY,MAMH,MAGV,NHOM)
as
(select DANGKY.MALTC,NIENKHOA,HOCKY,MAMH,MAGV,NHOM 
from DANGKY,LOPTINCHI
where DANGKY.MASV=@MASSV AND DANGKY.MALTC = LOPTINCHI.MALTC AND DANGKY.HUYDANGKY = 0 
AND DANGKY.DIEM_CC IS NULL AND DANGKY.DIEM_CK IS NULL AND DANGKY.DIEM_GK IS NULL	
)
select A.MALTC,NIENKHOA,HOCKY,TENMH,HOTENGV=HO + ' '+ TEN,NHOM
from (select MALTC,NIENKHOA,HOCKY,HO,TEN,NHOM
from GETLIST_HUYDANGKY,GIANGVIEN
where GETLIST_HUYDANGKY.MAGV = GIANGVIEN.MAGV) as A,
(select MALTC,TENMH from GETLIST_HUYDANGKY,MONHOC 
where GETLIST_HUYDANGKY.MAMH = MONHOC.MAMH) as B
where A.MALTC = B.MALTC
GO
/****** Object:  StoredProcedure [dbo].[SP_MONHOCSVDangKyLTC]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MONHOCSVDangKyLTC] @NienKhoa VARCHAR(9), @HocKy INT 
AS
SELECT DISTINCT TENMH=(SELECT TENMH FROM MONHOC WHERE LOPTINCHI.MAMH=MONHOC.MAMH) FROM LOPTINCHI  WHERE NIENKHOA=@NienKhoa AND LOPTINCHI.HOCKY = @HocKy 
GO
/****** Object:  StoredProcedure [dbo].[SP_SVDangKyLTC]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SVDangKyLTC] @NienKhoa VARCHAR(9), @HocKy INT , @Nhom INT, @TenMh NVARCHAR(50)
AS
DECLARE @LOPTINCHI INT
DECLARE @MAMH NVARCHAR(50)
SELECT @MAMH = (SELECT MAMH FROM MONHOC WHERE TENMH = @TenMh) -- khử phép kết
SELECT @LOPTINCHI = (SELECT MALTC FROM LOPTINCHI WHERE NIENKHOA=@NienKhoa AND LOPTINCHI.HOCKY = @HocKy AND LOPTINCHI.NHOM = @Nhom AND  MAMH = @MAMH) 
SELECT SINHVIEN.MASV, HOTEN=HO+' '+TEN, PHAI = IIF(PHAI=0,'Nam',N'Nữ'), MALOP 
FROM SINHVIEN, (SELECT MASV FROM DANGKY WHERE MALTC = @LOPTINCHI AND HUYDANGKY = 0) AS DANGKY
WHERE DANGKY.MASV = SINHVIEN.MASV  
ORDER BY TEN,HO
GO
/****** Object:  StoredProcedure [dbo].[SP_SVDangKyLTC2]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SVDangKyLTC2] @NienKhoa VARCHAR(9), @HocKy INT , @Nhom INT
AS
SELECT MAMH, TENMH=(SELECT TENMH FROM MONHOC WHERE LOPTINCHI.MAMH=MONHOC.MAMH) FROM LOPTINCHI  WHERE NIENKHOA=@NienKhoa AND LOPTINCHI.HOCKY = @HocKy AND LOPTINCHI.NHOM = @Nhom 
GO
/****** Object:  StoredProcedure [dbo].[SP_SVDangKyLTC3]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SVDangKyLTC3] @NienKhoa VARCHAR(9), @HocKy INT , @Nhom INT, @TenMh NVARCHAR(50)
AS
DECLARE @LOPTINCHI INT
DECLARE @MAMH NVARCHAR(50)
SELECT @MAMH = (SELECT MAMH FROM MONHOC WHERE TENMH = @TenMh) -- khử phép kết
SELECT @LOPTINCHI = (SELECT MALTC FROM LOPTINCHI WHERE NIENKHOA=@NienKhoa AND LOPTINCHI.HOCKY = @HocKy AND LOPTINCHI.NHOM = @Nhom AND  MAMH = @MAMH) 
SELECT SINHVIEN.MASV, HOTEN=HO+' '+TEN, PHAI = IIF(PHAI=0,'Nam',N'Nữ'), MALOP 
FROM SINHVIEN, (SELECT MASV FROM DANGKY WHERE MALTC = @LOPTINCHI AND HUYDANGKY = 0) AS DANGKY
WHERE DANGKY.MASV = SINHVIEN.MASV  
ORDER BY TEN,HO
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN] @LGNAME VARCHAR(50), @PASS VARCHAR(50), @USERNAME VARCHAR(50), @ROLE VARCHAR(50)
AS
	-- check login , user bị trùng 
	IF EXISTS(SELECT name FROM sys.server_principals 
				WHERE TYPE IN ('U', 'S', 'G')	--U: Windows Login Accounts
				AND name NOT LIKE '%##%'		--S: SQL Login Accounts
				AND name = @LGNAME)				--G: Windows Group Login Accounts
		RETURN 1	--Trùng Login
	ELSE IF EXISTS(SELECT name FROM sys.database_principals
					WHERE type_desc = 'SQL_USER'
					AND name = @USERNAME)
		RETURN 2	--Trùng User

	-- băt đầu tạo tài khoản
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV_TC'
  IF (@RET =1) 
     RETURN 3 -- tạo tài khoản không thành công
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1) 
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 3 -- tạo  tài khoảng không thành công
  END
  EXEC sp_addrolemember @ROLE, @USERNAME

  --THEM ROLE SECURITYADMIN DE CO QUYEN TAO TAI KHOAN
  EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'

  RETURN 0  -- THANH CONG
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOROLE]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOROLE] @tennhom NVARCHAR(50) 
AS

 if exists (select * from sys.database_principals where name = @teNnhom and type_desc = 'DATABASE_ROLE')
	return 1;
 CREATE ROLE tennhom AUTHORIZATION dbo 
	return 0 -- tao role  thanh cong
GO
/****** Object:  StoredProcedure [dbo].[SP_TongTienHocPhi]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TongTienHocPhi] @MALOP varchar(10), @NienKhoa varchar(9), @HocKy int
AS

DECLARE @tonghocphi INT
;with GETSVDONGTIEN(MASV,HOCPHI,SOTIENDONG)
as
(select HOCPHI.MASV,HOCPHI,SOTIENDADONG = SUM(SOTIENDONG) 
from HOCPHI left join CT_DONGHOCPHI
on HOCPHI.MASV = CT_DONGHOCPHI.MASV AND CT_DONGHOCPHI.HOCKY = HOCPHI.HOCKY AND CT_DONGHOCPHI.NIENKHOA = HOCPHI.NIENKHOA
where HOCPHI.NIENKHOA = @NienKhoa AND HOCPHI.HOCKY = @HocKy
group by HOCPHI.MASV,HOCPHI)
select @tonghocphi =SUM(A.SOTIENDONG) from (select HOTEN=SINHVIEN.HO + ' '+ SINHVIEN.TEN,HOCPHI,SOTIENDONG= COALESCE(SOTIENDONG,0)  
from SINHVIEN,GETSVDONGTIEN
where SINHVIEN.MASV = GETSVDONGTIEN.MASV
AND SINHVIEN.MALOP = @MALOP) as A
PRINT(@tonghocphi)
IF(@tonghocphi IS NULL) 
SELECT TONGHOCPHI = 0
ELSE SELECT TONGHOCPHI = @tonghocphi

GO
/****** Object:  StoredProcedure [dbo].[SP_TRUNG_LOGIN]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TRUNG_LOGIN]  @LGNAME NVARCHAR(50)
AS
IF EXISTS(SELECT name FROM sys.server_principals 
				WHERE TYPE IN ('U', 'S', 'G')	--U: Windows Login 
				AND name NOT LIKE '%##%'		--S: SQL Login
				AND name = @LGNAME)				--G: Windows Group Login Accounts
	RETURN 1	--Trùng Login
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_XULY_DIEM]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XULY_DIEM]
@MSSV varchar(20),
@MALTC int,
@DIEMCC float,
@DIEMGK float,
@DIEMCK float
as 
BEGIN
	IF EXISTS (Select 1 From DANGKY where MASV = @MSSV AND MALTC = @MALTC)
	BEGIN
		UPDATE DANGKY
		SET DIEM_CC = @DIEMCC, DIEM_GK = @DIEMGK, DIEM_CK = @DIEMCK
		WHERE MASV = @MSSV AND MALTC = @MALTC
	END
	ELSE 
	RAISERROR(N'THÔNG TIN ĐĂNG KÝ KHÔNG TỒN TẠI',16,1)
	END


GO
/****** Object:  StoredProcedure [dbo].[SP_XULY_LTC]    Script Date: 6/9/2022 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_XULY_LTC] @MASV NVARCHAR(10),  
@MALTC INT,  
@type smallint
--type=1 : đăng ký
--type=0 : hủy
-- SP này để vừa cho sinh viên đăng ký hoặc hủy môn đăng ký
AS  
BEGIN  
	IF (@type=1)
	BEGIN	
            IF EXISTS (SELECT 1 FROM DANGKY WHERE MASV=@MASV AND MALTC=@MALTC)  
				BEGIN
					IF EXISTS (SELECT 1 FROM DANGKY WHERE MASV=@MASV AND MALTC=@MALTC and HUYDANGKY=0)  
						BEGIN
							raiserror(N'SINH VIÊN ĐÃ ĐĂNG KÝ LỚP',16,1)
						END
					ELSE
						BEGIN 
							UPDATE DANGKY SET HUYDANGKY=0 WHERE MALTC = @MALTC AND MASV = @MASV
						END
					RETURN
                END
			--check xem là đã đăng kí môn học này ở học kì này chưa
			ELSE IF EXISTS(select 1 from DANGKY where  MASV=@MASV and (select MAMH from LOPTINCHI where  LOPTINCHI.MALTC=DANGKY.MALTC) = (select MAMH from LOPTINCHI where MALTC=@MALTC)
				and (select NIENKHOA from LOPTINCHI where  LOPTINCHI.MALTC=DANGKY.MALTC) = (select NIENKHOA from LOPTINCHI where MALTC=@MALTC)
				and (select HOCKY from LOPTINCHI where  LOPTINCHI.MALTC=DANGKY.MALTC) = (select HOCKY from LOPTINCHI where MALTC=@MALTC)
				and HUYDANGKY=0 )
				BEGIN		
					raiserror(N'SINH VIÊN ĐÃ ĐĂNG KÝ LỚP',16,1)
					RETURN
				END  
            ELSE  
                BEGIN  
                    INSERT INTO DBO.DANGKY(MALTC, MASV,HUYDANGKY)  
                    VALUES (@MALTC, @MASV,0)  
                END
	END
	ELSE IF(@type = 2)
	BEGIN
		IF EXISTS (SELECT 1 FROM DANGKY WHERE MASV=@MASV AND MALTC=@MALTC)  
				BEGIN
                    UPDATE DANGKY SET HUYDANGKY=1 WHERE MALTC = @MALTC AND MASV = @MASV
                END
		ELSE
			BEGIN
				raiserror(N'SINH VIÊN CHƯA ĐĂNG KÝ LỚP',16,1)
				
			END
	END
		
END












GO
USE [master]
GO

create trigger tg_xoaSV on SINHVIEN after DELETE
as
begin
	if exists(select * from DANGKY,deleted where deleted.MASV=DANGKY.MASV and DANGKY.HUYDANGKY=0)
		raiserror(15600,-1,-1,'Sinh vien da dang ky lop tin chi khong the xoa')
end


create trigger tg_huyLop on DANGKY after delete
as
begin
	if exists(select * from deleted where deleted.DIEM_CC>=0 or deleted.DIEM_CK>=0 or deleted.DIEM_GK>=0)
		raiserror(15600,-1,-1,'Sinh vien da co diem khong the xoa lop')
end
